<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Positions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Positions</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Liquid</th>
                <th>Steps</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
            <tr>
                <td>{{ position[0] }}</td>
                <td>{{ position[1] }}</td>
                <td>{{ position[2] }}</td>
                <td>{{ position[3] }}</td>
                <td>{{ position[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
