body {
    background-color: black;
}

.box {
    padding: 150px, 350px;
    position: sticky;
    width: 350px;
    height: 150px;
    border: 3px solid #0081C6;
    background-color: black;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box.active {
    transform: scale(1.1);
    box-shadow: 0 0 50px  #005380;
}

.headerbox {
    padding-top: 50px;
    height: 100px;
    width: max;
    color: black;
    border-bottom: 3px solid #0081C6;
    box-shadow: 0 5px 15px rgb(0, 83, 128);
}

.robotname {
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: -2px 2px 6px #0081C6;
}

.getränke {
    margin-top: 100px;
    max-width: 200px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    background-color: black;
    border: 3px solid #0081C6;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.getränke:active {
    transform: scale(0.8);
    box-shadow: 0 0 50px  #005380;
}

.svalogo {
    display: flex;
    height: 70px;
    position: fixed;
    display: inline-block;
    margin-top: -10px;
    margin-left: 38px;
    box-shadow: 0 0 50px  #005380;
}

.getränketitel {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-shadow: -2px 2px 6px #0081C6;
    letter-spacing: 1px;
}

.infobutton {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 280px;
    margin-top: 38px;
    text-shadow: -2px 2px 6px #0081C6;
    text-decoration: none;
    padding: 50px, 50px;
    position: sticky;
    width: 50px;
    height: 50px;
    border: 3px solid #0081C6;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.infobutton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px  #005380;
}

.zutat {
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    padding-left: 40%;
}

.c_pic {
    padding-top: 50px;
    padding-left: 50px;
    height: 500px;
    width: auto;
    display: inline-block;
    position: fixed;
}
